$ffGlobal: 'Josefin Sans',
sans-serif;
$containerWidth: 1280px;
$iconColor: #27b5f7;
$backgoundColorGlobal: #F1F1F1;
$tipsIconcolor: #fff;
$buttonColorText: #000;
$inputBorderColor: #C5C5C5;
$fw300: 300;
$fw400: 400;
$inputFzAt320: 12px;
$headerBoxShadow: #575757;
$bgcPageAuthorization: #F3EDED;
$svgHomeColor: #B9B9B9;
$boxShadowContentHome: #b9b9b9;
$darkModeColor: #585858;
$darkModeBackgroundColor: #242424;
$modalBackgroundColor: rgba(0, 0, 0, .5);
$modalAuthorizationBoxShadow:rgba(0, 0, 0, .3);
