@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap");
.page {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  transition: 1s;
}
.page__footer {
  padding-top: 15px;
}
.page__header {
  position: relative;
  z-index: 1;
  background-color: #fff;
  box-shadow: inset 0 -2px 2px -1px #575757;
}
.page__authorization {
  background-color: #F3EDED;
  min-height: 100vh;
}
.page__home {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  box-shadow: inset 0 -1px 2px -1px #575757;
  transition: 1s;
}

.main__authorization {
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0 20px;
  box-shadow: 0 0 3px #575757;
  background-color: #fff;
  position: relative;
  top: 10px;
  padding: 50px 0 0;
}
@media screen and (min-width: 1280px) {
  .main__authorization {
    margin: 0 auto;
  }
}
.main__home {
  background-color: #F1F1F1;
  transition: 1s;
}
.main__container {
  max-width: 1280px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}
@media screen and (min-width: 1280px) {
  .main__container {
    margin: 0 auto;
  }
}
@media screen and (max-width: 650px) {
  .main__container {
    margin: 0;
  }
}
.main__content {
  transition: 1s;
}

.input {
  outline: none;
  border: 1px solid #C5C5C5;
  width: 30%;
  height: 30px;
  padding: 15px;
  border-radius: 10px;
  transition: .5s;
}
.input:focus {
  border: 1px solid #27b5f7;
  background-color: #F1F1F1;
  color: #27b5f7;
}
@media screen and (max-width: 430px) {
  .input {
    padding: 5px;
  }
  .input::placeholder {
    font-size: 12px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid transparent;
  padding: 5px;
  border-radius: 30px;
  transition: .5s;
}
.button__post {
  position: fixed;
  right: 5%;
  bottom: 5%;
  background-color: #27b5f7;
  color: #fff;
  padding: 10px 15px;
}
.button__post:hover {
  border: 1px solid #27b5f7;
  background-color: #fff;
  color: #27b5f7;
}
.button__post:hover .button__svg {
  fill: #27b5f7;
}

.button:hover {
  cursor: pointer;
}

.logo {
  width: 30px;
  fill: #27b5f7;
}

.login_greetings {
  display: flex;
  width: 100%;
  justify-content: center;
  align-self: center;
  column-gap: 10px;
}
@media screen and (max-width: 430px) {
  .login_greetings {
    width: 90%;
  }
}
.login_authorization {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-left: 100px;
}
@media screen and (max-width: 667px) {
  .login_authorization {
    margin: 0 50px;
  }
}
@media screen and (max-width: 430px) {
  .login_authorization {
    margin: 0 20px;
  }
}
.login__email_authorization {
  width: 350px;
}
@media screen and (max-width: 525px) {
  .login__email_authorization {
    width: 90%;
  }
}
.login__password_authorization {
  width: 350px;
}
@media screen and (max-width: 525px) {
  .login__password_authorization {
    width: 90%;
  }
}
.login__submit {
  color: #27b5f7;
  border: 1px solid #27b5f7;
  background-color: #fff;
  padding: 10px 15px;
}
.login__submit_greetings:hover {
  background-color: #27b5f7;
  color: #fff;
}
.login__submit_authorization {
  background-color: #27b5f7;
  color: #fff;
}
.login__submit_authorization:hover {
  color: #27b5f7;
  border: 1px solid #27b5f7;
  background-color: #fff;
}
.login__input-container {
  padding: 15px 0;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 498px) {
  .login__input-container {
    flex-wrap: wrap;
    row-gap: 15px;
  }
}
.login__remember {
  margin: 0 15px;
}
.login__forgot {
  text-decoration: none;
  color: #27b5f7;
}

.menu_authorization {
  display: grid;
  grid-template-columns: 30px repeat(2, 1fr);
  justify-items: start;
  align-items: center;
  column-gap: 15px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 15px 20px;
}
.menu__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}
.menu__links_home {
  column-gap: 45px;
}
@media screen and (max-width: 780px) {
  .menu__links_home {
    column-gap: 80px;
  }
}
@media screen and (max-width: 475px) {
  .menu__links_home {
    column-gap: 40px;
  }
}
@media screen and (max-width: 360px) {
  .menu__links_home {
    column-gap: 20px;
  }
}
.menu__links_sidebar {
  justify-content: flex-start;
}
.menu__links_sidebar-info {
  flex-direction: column;
}
.menu__item_authorization {
  position: relative;
}
.menu__link {
  text-decoration: none;
  font-weight: 300;
  color: #000;
  transition: .5s;
}
.menu__link:hover {
  color: #27b5f7;
  cursor: pointer;
}
.menu__link_authorization {
  font-weight: 400;
}
.menu__link_authorization::before {
  content: '';
  position: absolute;
  bottom: -110%;
  width: 100%;
  height: 10px;
  height: 5px;
  opacity: 0;
  background-color: #27b5f7;
  transition: .5s;
}
.menu__link_authorization:hover::before {
  opacity: 1;
}
@media screen and (max-width: 348px) {
  .menu__link_authorization {
    font-size: 14px;
  }
}
.menu__link_sidebar {
  font-weight: 400;
  color: #b9b9b9;
}
@media screen and (max-width: 1030px) {
  .menu__link_sidebar {
    font-size: 14px;
  }
}
.menu__link_sidebar-info {
  font-weight: 400;
  color: #b9b9b9;
}
.menu__localization {
  justify-self: end;
}
.menu__svg:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 600px;
  display: flex;
  column-gap: 15px;
  text-align: center;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3);
  transition: 1s;
}
@media screen and (max-width: 678px) {
  .modal {
    width: 80%;
  }
}
.modal__authorization_opened {
  top: 95px;
}
@media screen and (max-width: 451px) {
  .modal__authorization_opened {
    top: 105px;
  }
}
.modal__index {
  top: -10%;
  align-items: flex-end;
  width: 430px;
}
@media screen and (max-width: 678px) {
  .modal__index {
    width: 80%;
  }
}
@media screen and (max-width: 541px) {
  .modal__index {
    min-height: 60px;
  }
}
@media screen and (max-width: 451px) {
  .modal__index {
    padding-top: 35px;
  }
}
.modal__index_opened {
  top: 4%;
}
.modal__svg_index {
  align-self: center;
}
.modal__svg_close {
  width: 15px;
  height: 15px;
}
.modal__svg_close:hover {
  fill: #27b5f7;
  cursor: pointer;
}
.modal__text {
  margin: 0;
}
.modal__text_index {
  align-self: flex-end;
}

.localization {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.localization__text {
  margin: 0;
}
@media screen and (max-width: 348px) {
  .localization__text {
    font-size: 14px;
  }
}
.localization__lang {
  position: relative;
  cursor: pointer;
  transition: .5s;
}
.localization__lang:hover {
  color: #27b5f7;
}
.localization__lang::before {
  content: '';
  position: absolute;
  bottom: -110%;
  width: 100%;
  height: 10px;
  height: 5px;
  opacity: 0;
  background-color: #27b5f7;
  transition: .5s;
}
.localization__lang:hover::before {
  opacity: 1;
}
@media screen and (max-width: 348px) {
  .localization__lang {
    font-size: 14px;
  }
}

.authorization {
  display: flex;
  flex-direction: column;
}
.authorization__title {
  margin: 0 0 30px 100px;
}
@media screen and (max-width: 667px) {
  .authorization__title {
    margin: 0 50px 30px;
  }
}
@media screen and (max-width: 430px) {
  .authorization__title {
    margin: 0 20px 30px;
  }
}
@media screen and (max-width: 348px) {
  .authorization__title {
    font-size: 30px;
  }
}
.authorization__signin {
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  justify-content: center;
  min-height: 100px;
  padding: 0 0 0 100px;
}
@media screen and (max-width: 667px) {
  .authorization__signin {
    padding: 0 50px;
  }
}
@media screen and (max-width: 430px) {
  .authorization__signin {
    padding: 0 20px;
  }
}
.authorization__subtitle {
  margin: 0;
  color: #575757;
  font-weight: 300;
}
@media screen and (max-width: 348px) {
  .authorization__subtitle {
    font-size: 14px;
  }
}
.authorization__link {
  text-decoration: none;
  color: #27b5f7;
}
